{% extends "base/base_auth.html" %}
{% load static %}
{% block title %}Login{% endblock %}

{% block content %}
<link href = "{% static 'css/users_app/register_page.css' %}" rel="stylesheet"/>
<!--REGISTER USER FORM STARTS-->
<div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-white-600 dark:border-gray-700 flex flex-col items-center justify-center w-1/4">
    <div class="flex flex-row align-center justify-center">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-black">Login</h5>
    </div>
  
    <form class="flex flex-col items-center justify-around">
        <div class="mb-6">
            <label for="default-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Email</label>
            <input type="email" id="email_login" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-100 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <p class="text-red-600" id="email_login_error"></p>

            <label for="default-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Password</label>
            <input type="text" id="password_login" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-100 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <p class="text-red-600" id="password_login_error"></p>
        </div>
        <div class="mb-6">
            <button type="button" class=" submit_btn_custom_style text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" id="login_user">Login</button>
        </div>
        <div class="flex flex-row items-center justify-between w-full">
            <a class="me-3" id="redirect_to_register_page">Don't have an account?</a>
            <a class="block" id="redirect_to_forgot_password_page">Forgot password?</a>
        </div>
    </form>
</div>
<!--REGISTER USER FORM ENDS-->
{% endblock %}

{% block extra_scripts %}
<script>
    let RegisterUser = "{% url 'RegisterUser' %}"
    let LoginUser = "{% url 'LoginUser' %}"
    let render_home_page = "{% url 'render_home_page' %}"
    let register_user_page = "{% url 'register_user_page' %}"
</script>
<script src="{% static 'js/auth_app/login_user.js' %}"></script>
{% endblock %}